# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# latex:
*.aux
*.log
*.pdf
*.gz
*.toc
*.bbl
*.blg

# My configurations:
db.ini
deploy_key_rsa
/main.dvi
/tmp/
